/* Section Section CSS */
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#eBdfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
.section .container .row .section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    position: relative;
    font-weight: 800;
}
.services .container .row .section-title h2::before{
    content:" ";
    height: 4px;
    width:100px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left:0;
}
.section .container .row .section-title h2::after{
    content:" ";
    height: 4px;
    width:60px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left:0;
    margin-top: 8px;
}
.row{
    padding-bottom: 20px;
}
.services .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 20px;
}
.services .service-item .service-item-inner p{
    color: var(--text-black-900);
}
.services .service-item .service-item-inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35 ease;
}
.services .service-item .service-item-inner:hover{
    box-shadow: 0 0 10px rgba(47,46,77,0.15);
}
.services .service-item .service-item-inner .item{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;

}
.services .service-item .service-item-inner .item .fa{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
}
.services .service-item .service-item-inner:hover .item{
    background: var(--skin-color);
}
.services .service-item .service-item-inner:hover .item .fa{
    font-size: 35px;
    color: #ffff;
}
.services .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color:var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
@media(max-width:1040px)
{
    .services .service-item{
        flex:0 0 50%;
        max-width: 50%;
    }
}
@media(max-width:830px){
    .services .service-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
